*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}
#output{
    height: 50px;
}
.buttons1 input{
    background-color: rgb(174, 174, 174)!important;
    color: #ffffff!important;
}
.buttons1 input, .buttons2 input{
    padding: 8px;
    background: #ffffff;
    color: #000000;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
}
#equal{
    height: 205px;
    background-color: rgb(92, 220, 255);
    color: #ffffff  ;
}
  